body {
    background: #212121;
    font-family: 'Consolas', sans-serif;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}

.view p {
    background: #000;
    color: #999;
    font-size: 42px;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
}

table {
    border: 5px solid #000;
    width: 100%;
}

td {
    position: relative;
    border: 3px solid #111;
    padding: 15px 5px;
    background: #000;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
}

.active {
    background: #999;
}

.function td {
    padding: 5px 5px;
}

.footer p {
    background: #000;
    color: #999;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
}